@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.top, .footer{
    background-color: #1f2937;
    color: white;
}

.top{
    padding: 0 160px;
    padding-top: 20px;
    padding-bottom: 100px;
}

.header{
    display: flex;
    justify-content: space-between;
}

.leftheader {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.rightheader {
    display: flex;
    gap: 10px;
}

.hero {
    margin-top: 100px;
    display: flex;
    justify-content: baseline;
}

.signup-one{
    background-color: #3882f6;
    color: white;
    border: 0;
    padding: 8px 16px;
    border-radius: 5px;
}

.hero img{
    height: 300px;
}

body {
    margin:0;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
}

.rightheader a, .hero .container p{
    text-decoration: none;
    color: #d4d4d4;
    font-size: 17px;
}

h2 {
    font-weight: 900;
    font-size: 36px;
    color: #1f2937;
}

.container img {
    border-radius: 20px;
    border: 5px solid #3882f6;
    margin: 10px;
}

.content-box {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.content-box .container {
    max-width: 250px;
}

.content-box .container p{
    color: #a3a3a3;
    font-size: 17px;
}

.content {
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    padding: 100px 400px;
}
 .quote p {
    font-weight: 100;
 }

 .quote #person {
    text-align: right;
    font-weight: 900;
 }

 .signup {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 75px;
 }

 .signup-container {
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    padding: 60px 130px;
    display: flex;
    align-items: center;
 }

h3, .signup-container div p {
    margin: 0;
}

.signup-two {
    background-color: #3882f6;
    color: white;
    border: 2px solid white;
    border-radius: 7px;
    padding: 6px 25px;
    height: 30px;
    margin-left: 60px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}